* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

body {
  background-color: #071d04;
}

h1 {
  padding: 20px;
}

.background-image {
  background-image: url("imagenes/fondo.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: top center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

.content {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 250px;
  height: 250px;
}

.title {
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.whatsapp-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(145deg, #155c3d, #0e2d1e); /* efecto lata */
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
  border: solid 3px #fff;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 25px;
  gap: 10px;
  min-width: 250px;
  box-shadow:
    0 0 30px 8px gold,
    inset 0 1px 0 #ffffff33,
    0 0 12px 2px #10392899;
  animation: heartbeat 2s infinite ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Brillo animado */
.whatsapp-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.6), transparent);
  transform: skewX(-25deg);
  animation: shine 3s infinite;
  pointer-events: none;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
    box-shadow:
      0 0 30px 8px gold,
      inset 0 1px 0 #ffffff33,
      0 0 12px 2px #10392899;
  }
  50% {
    transform: scale(1.03);
    box-shadow:
      0 0 45px 12px gold,
      inset 0 1px 0 #ffffff66,
      0 0 18px 4px #155c3d;
  }
}

.whatsapp-icon {
  height: 30px;
}

.subtitle {
  font-size: 22px;
  margin-top: 40px;
  color: white;
}

.description {
  color: gold;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 50px;
}
